In [76]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
file_path = "chipotle.csv"

In [4]:
chipo = pd.read_csv(file_path)
print(type(chipo))

<class 'pandas.core.frame.DataFrame'>

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
chipo.item_price = chipo.item_price.apply(lambda x : x[1:]).astype(float)

In [7]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [50]:
# 가장 많이 판매한 제품의 수량은 1개와 2개의 판매액 보기
product_count = chipo[['item_name', 'quantity','item_price']].groupby(['item_name','quantity'], 
                                                         as_index= False).agg({'item_price':sum})
product_count.head()

#인기 많은 상품은 1개만 구매 하는 경우 더 많다.

               item_name  quantity  item_price
0      6 Pack Soft Drink         1      343.97
1      6 Pack Soft Drink         2       12.98
2          Barbacoa Bowl         1      672.36
3       Barbacoa Burrito         1      894.75
4  Barbacoa Crispy Tacos         1      101.71

In [39]:
# 제일 많이 판매한 제품 순서대로 나열
product_count = chipo[['item_name', 'quantity']].groupby(['item_name'],
                                                         as_index= False).agg({'quantity':sum}).sort_values(by='quantity',ascending=False) 
product_count.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [93]:
# 인기 많은 제품중에서 토핑 상황 ****
a = pd.DataFrame(chipo[chipo['choice_description'].notnull()].groupby('item_name')['quantity'].sum().sort_values(ascending=False))
a

# 인기 많은 제품은 토핑도 필수인 것같다.

                       quantity
item_name
Chicken Bowl                761
Chicken Burrito             591
Steak Burrito               386
Canned Soft Drink           351
Steak Bowl                  221
Canned Soda                 126
Chicken Salad Bowl          123
Chicken Soft Tacos          120
Veggie Burrito               97
Barbacoa Burrito             91
Veggie Bowl                  87
Carnitas Bowl                71
Barbacoa Bowl                66
Carnitas Burrito             60
Steak Soft Tacos             56
6 Pack Soft Drink            55
Chicken Crispy Tacos         50
Carnitas Soft Tacos          40
Steak Crispy Tacos           36
Steak Salad Bowl             31
Nantucket Nectar             29
Barbacoa Soft Tacos          25
Izze                         20
Veggie Salad Bowl            18
Barbacoa Crispy Tacos        12
Barbacoa Salad Bowl          10
Chicken Salad                 9
Carnitas Crispy Tacos         8
Veggie Soft Tacos             8
Carnitas Salad Bowl           6
Burrito                       6
Veggie Salad                  6
Steak Salad                   4
Bowl                          4
Salad                         2
Crispy Tacos                  2
Carnitas Salad                1
Veggie Crispy Tacos           1

In [10]:
# 총 판매건수
str(chipo['order_id'].nunique()) + '개'

'1834개'

In [11]:
# 총 몇개의 제품 판매했는지 계산
str(chipo['item_name'].nunique()) + '개'

'50개'

In [95]:
b = chipo[chipo['quantity'] == 1].groupby('item_name')[['item_price']].mean().sort_values(by = 'item_price', ascending = False)
b

                                       item_price
item_name
Carnitas Salad Bowl                     11.056667
Steak Salad Bowl                        10.964074
Barbacoa Salad Bowl                     10.640000
Carnitas Bowl                           10.272121
Steak Bowl                              10.230891
Barbacoa Bowl                           10.187273
Barbacoa Crispy Tacos                   10.171000
Veggie Salad Bowl                       10.138889
Veggie Bowl                             10.048554
Barbacoa Soft Tacos                     10.018400
Steak Burrito                           10.006335
Carnitas Crispy Tacos                    9.996667
Carnitas Burrito                         9.988448
Steak Crispy Tacos                       9.981176
Barbacoa Burrito                         9.832418
Chicken Salad Bowl                       9.806701
Chicken Bowl                             9.668139
Veggie Burrito                           9.585319
Steak Soft Tacos                         9.584259
Chicken Crispy Tacos                     9.548864
Chicken Burrito                          9.514549
Veggie Soft Tacos                        9.496667
Carnitas Soft Tacos                      9.398500
Chicken Soft Tacos                       9.247000
Chicken Salad                            9.010000
Carnitas Salad                           8.990000
Steak Salad                              8.915000
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Burrito                                  7.400000
Crispy Tacos                             7.400000
Bowl                                     7.400000
Salad                                    7.400000
6 Pack Soft Drink                        6.490000
Chips and Guacamole                      4.341560
Nantucket Nectar                         3.390000
Izze                                     3.390000
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Tomatillo Red Chili Salsa      2.950000
Chips and Tomatillo Green Chili Salsa    2.950000
Chips and Roasted Chili Corn Salsa       2.950000
Chips and Fresh Tomato Salsa             2.739143
Chips and Tomatillo-Red Chili Salsa      2.390000
Chips and Tomatillo-Green Chili Salsa    2.390000
Chips and Roasted Chili-Corn Salsa       2.390000
Chips                                    2.149171
Side of Chips                            1.690000
Bottled Water                            1.435108
Canned Soft Drink                        1.250000
Canned Soda                              1.090000

In [100]:
pd.merge(b, a, how='outer', on='item_name').reset_index().sort_values(by = ['item_price','quantity'], ascending = False)

                                item_name  item_price  quantity
0                     Carnitas Salad Bowl   11.056667       6.0
1                        Steak Salad Bowl   10.964074      31.0
2                     Barbacoa Salad Bowl   10.640000      10.0
3                           Carnitas Bowl   10.272121      71.0
4                              Steak Bowl   10.230891     221.0
5                           Barbacoa Bowl   10.187273      66.0
6                   Barbacoa Crispy Tacos   10.171000      12.0
7                       Veggie Salad Bowl   10.138889      18.0
8                             Veggie Bowl   10.048554      87.0
9                     Barbacoa Soft Tacos   10.018400      25.0
10                          Steak Burrito   10.006335     386.0
11                  Carnitas Crispy Tacos    9.996667       8.0
12                       Carnitas Burrito    9.988448      60.0
13                     Steak Crispy Tacos    9.981176      36.0
14                       Barbacoa Burrito    9.832418      91.0
15                     Chicken Salad Bowl    9.806701     123.0
16                           Chicken Bowl    9.668139     761.0
17                         Veggie Burrito    9.585319      97.0
18                       Steak Soft Tacos    9.584259      56.0
19                   Chicken Crispy Tacos    9.548864      50.0
20                        Chicken Burrito    9.514549     591.0
21                      Veggie Soft Tacos    9.496667       8.0
22                    Carnitas Soft Tacos    9.398500      40.0
23                     Chicken Soft Tacos    9.247000     120.0
24                          Chicken Salad    9.010000       9.0
25                         Carnitas Salad    8.990000       1.0
26                            Steak Salad    8.915000       4.0
28                           Veggie Salad    8.490000       6.0
27                    Veggie Crispy Tacos    8.490000       1.0
29                                Burrito    7.400000       6.0
31                                   Bowl    7.400000       4.0
30                           Crispy Tacos    7.400000       2.0
32                                  Salad    7.400000       2.0
33                      6 Pack Soft Drink    6.490000      55.0
34                    Chips and Guacamole    4.341560       NaN
35                       Nantucket Nectar    3.390000      29.0
36                                   Izze    3.390000      20.0
37      Chips and Mild Fresh Tomato Salsa    3.000000       NaN
38    Chips and Tomatillo Red Chili Salsa    2.950000       NaN
39  Chips and Tomatillo Green Chili Salsa    2.950000       NaN
40     Chips and Roasted Chili Corn Salsa    2.950000       NaN
41           Chips and Fresh Tomato Salsa    2.739143       NaN
42    Chips and Tomatillo-Red Chili Salsa    2.390000       NaN
43  Chips and Tomatillo-Green Chili Salsa    2.390000       NaN
44     Chips and Roasted Chili-Corn Salsa    2.390000       NaN
45                                  Chips    2.149171       NaN
46                          Side of Chips    1.690000       NaN
47                          Bottled Water    1.435108       NaN
48                      Canned Soft Drink    1.250000     351.0
49                            Canned Soda    1.090000     126.0

In [12]:
# 인기 많은 제품의 총판매액 
product_count = chipo[['item_name', 'item_price']].groupby('item_name', 
                                                         as_index= False).agg({'item_price':sum}).sort_values(by='item_price',ascending=False) 
product_count.head()

              item_name  item_price
17         Chicken Bowl     7342.73
18      Chicken Burrito     5575.82
39        Steak Burrito     3851.43
38           Steak Bowl     2260.19
25  Chips and Guacamole     2201.04

In [13]:
# 데이터 수집한 동안의 총판매액

tot = chipo['item_price'].sum()
tot

34500.16

In [14]:
# 각 제품의 판맥액은 전체 판매액의 차지율

product_count['백분율'] = product_count['item_price'].apply(lambda x : str(round((x/tot)*100,2))+'%')
product_count.head(15)

# 50개의 판매 제품중에서 인기Top 4 제품은 거의 48%로 자치하고 있다.
# 대략 나머지 품중에서의 40개정도는 팔리지 않는다.

              item_name  item_price     백분율
17         Chicken Bowl     7342.73  21.28%
18      Chicken Burrito     5575.82  16.16%
39        Steak Burrito     3851.43  11.16%
38           Steak Bowl     2260.19   6.55%
25  Chips and Guacamole     2201.04   6.38%
21   Chicken Salad Bowl     1228.75   3.56%
22   Chicken Soft Tacos     1108.09   3.21%
45       Veggie Burrito      934.77   2.71%
2      Barbacoa Burrito      894.75   2.59%
44          Veggie Bowl      867.99   2.52%
11        Carnitas Bowl      736.71   2.14%
1         Barbacoa Bowl      672.36   1.95%
12     Carnitas Burrito      597.83   1.73%
43     Steak Soft Tacos      536.05   1.55%
23                Chips      494.34   1.43%